<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/App/game.js"></script>
    <script src="~/Scripts/App/HeroController.js"></script>
    <script src="~/Scripts/App/MapController.js"></script>
</head>
<body>
    <div ng-app="game">

        <div id="TopMenu">
            <div id="HeroStats">
                <table class="table" ng-controller="HeroController">
                    <tr>
                        <td>TTL</td>
                        <td>IQ</td>
                        <td>Strength</td>
                        <td>Charm</td>
                    </tr>
                    <tr>
                        <td>{{ ttl }}</td>
                        <td>{{ iq }}</td>
                        <td>{{ strength }}</td>
                        <td>{{ charm }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="LocationMap" class="container" ng-controller="MapController">
            <table class="table table-condensed table-bordered">
                <tr>
                    <td></td>
                    <td>{{ location.n }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ location.w }}</td>
                    <td></td>
                    <td>{{ location.e }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ location.s }}</td>
                    <td></td>
                </tr>
            </table>

        @RenderBody()
    </div>
</body>
</html>
